# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* create a table of Data Science Tools
* create an Objective List
* evaluate two arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
    <li>C++</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Matplotlib</li>
</ol>

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Spyder  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bijan Mielke